*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: #EC6EAD; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ec6eadc3; 
  }
  
  /*BODY COLOR*/
  body{
    background: #eeeeee;   
color: black;    
  }


  .h1-algo{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    text-align: center; 
    border: 5px solid #0f2436;
    background-color: #3fa9f5;
    color: #f3f3f3;
    border-radius: 15px;
    width: 540px;
    padding: 10px;
  }

  .h2-hero-algo{
    margin: auto;
    margin-top: 1%;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    text-align: center; 
    color: black;
    width: 540px;
    padding: 10px;
  }

  .equipe{
    display: flex;
    justify-content: center;
   justify-content: space-around;
    margin-top: 5%;

  }

  .a-logo{
    display: flex;
    justify-content: center;
    justify-content: space-around;

  }
  .img-ny{
    margin-left: 65%;
    width:25%;
  }

  .img-calgary{
    margin-right: 48%;
    width: 25%;
  }

  p{
    margin: auto;
    margin-top: 4%;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    text-align: center; 
    color: black;
    width: 540px;
    padding: 10px;
  }

  @media only screen and (max-width: 600px){

    .h1-algo{
      margin: auto;
      margin-top: 4%;
      margin-bottom: 4%;
      font-family: erbaum, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: 25px;
      text-align: center; 
      border: 5px solid #0f2436;
      background-color: #3fa9f5;
      color: #f3f3f3;
      border-radius: 15px;
      width: 340px;
      padding: 10px;
    }
  
    .h2-hero-algo{
      margin: auto;
      margin-top: 1%;
      font-family: erbaum, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: 15px;
      text-align: center; 
      color: black;
      width: 340px;
      padding: 10px;
    }
  
    .equipe{
      display: flex;
      justify-content: center;
     justify-content: space-around;
      margin-top: 5%;
  
    }
  
    .a-logo{
      display: flex;
      justify-content: center;
      justify-content: space-around;
  
    }
    .img-ny{
      margin-left: 65%;
      width:35%;
    }
  
    .img-calgary{
      margin-right: 48%;
      width: 35%;
    }
  
    p{
      margin: auto;
      margin-top: 4%;
      font-family: erbaum, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: 15px;
      text-align: center; 
      color: black;
      width: 340px;
      padding: 10px;
    }
  

   }