
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* NAVBAR */

.navbar .lien .btn-contact{
    width: 100px;
    background-color: white;
    border-radius: 15px;
}


.navbar-link {
    padding: 0 40px;
}
.navbar-link > a {
    color:white;
    text-decoration: none;
    font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.navbar-link > .nav-active {
    color:#EC6EAD;
    text-decoration: none;
    font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.burger {
    display: none;
}

header{
    height: 15vh;
}
.navbar {
    background-color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 15vh;
    color:white;
    transition: all .7s ease-in-out;

  
}
.navbar-links {
    display: flex;
}

.lien{
    position: relative;
}




ul {
    list-style: none;
    position: relative;
}

/* Logo Style */
.nav-logo{
    position: relative;
    left: 5%;
}
.logo{
    height: 4em;
    z-index: 0;
}

/* Small Devices */
@media screen and (max-width:1149.98px) {
    *{
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .main-content h1{
        font-size: 40px;
        z-index: -100000;
    }   

    .navbar-links {
        justify-content: center;
        background-color: white;
        color: #3494E6;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0;
        height:100vh;
        position: absolute;
        top: 0vh;
        right: 0;
        transition: all .4s ease-in-out;
    }

    .navbar-links li{
        position: relative;
        top: 1.5em;
    }

    .show-nav .navbar-links {
    width: 100%;
    }
    .navbar-link {
        transform: translateX(101%);
    }

    .show-nav .navbar-link {
        transform: translateX(0);
    }
    .navbar-link > a {
        color: #3494E6;
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        transition:all .4s ease-in-out;
    }
    .navbar-link > a:hover {
            padding: 2rem;
            letter-spacing: 5px;
            
    }
    


/* Toggle menu */
    .burger {
        display: block;
        position: relative;
        right: 5%;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 45px;
        height: 4px;
        background: #EC6EAD;
        border-radius: 3px;
        transition: all .4s ease-in-out;
    }
    .show-nav .bar {
        overflow: hidden;
        width: 0;
        background: transparent;
    }
    .bar::before, .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: #3494E6;
        border-radius: 3px;
        transition: all .4s ease-in-out;
    }
    .bar::before {
        transform:translateY(-12px);
    }
    .show-nav .bar::before {
        transform: rotate(45deg);
    }
    .bar::after {
        transform:translateY(12px);
    }
    .show-nav .bar::after {
        transform: rotate(-45deg);
    }


/* Animations */
    .show-nav .first {
        transition: all 1s ease-out;
    }
    .show-nav .second {
        transition: all 1.2s ease-out;
    }
    .show-nav .third {
        transition: all 1.3s ease-out;
    }
    .show-nav .fourth {
        transition: all 1.4s ease-out;
    }
    .show-nav .fifth {
        transition: all 1.5s ease-out;
    }
}
/* Medium devices */
@media screen and (min-width:820px){
    .navbar-link > a:after {
        display: block;
        content: "";
        width: 0;
        height: 3px;
        background: #EC6EAD;
        transition:width .4s;
    }
    .navbar-link:hover > a:after {
        width: 100%;
    }
}