
/* Général --------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Scrollbar -------------------------------- */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: #EC6EAD; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ec6eadc3; 
}


/* BODY COLOR -------------------------------- */
body{
    background: #eeeeee;   
color: black;

}

 /* Hero  --------------------------------*/

.back-hero{
  margin-top: -10%;
    min-width: 100%;
    min-height: 100%;
   }


/* ONGLET ACC  --------------------------------*/

.ongletacc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 310px;

}

.onglet1{
    float: left;
    width: 500px;
    height: 310px;
    background-color: #3fa9f5;
    color: white; 
}

.onglet2{
    display: block;
    margin: auto;
    width: 500px;
    height: 310px;
    background-color: #0f2436;
    color:  white;
}

.onglet3{
    float: left;
    width: 500px;
    height: 310px;
    background-color: #3fa9f5;
    color: white; 
}


.btn-ong{
    display: block;
    margin: auto;
    margin-top: 4%;
        width: 250px;
        background-color: #0f2436;
       color: white ;
        border: 1px solid white;
        padding: 10px;
        text-align: center;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;

    }
    
    .btn-ong:hover{
        text-decoration: none;
        background-color: white;
        color: #0f2436;
         border: 1px solid #0f2436;
    }



.btn-ong2{
    display: block;
    margin: auto;
    margin-top: 4%;
        width: 250px;
        background-color: #3fa9f5;
       color: white;
        border: 1px solid white;
        padding: 10px;
        text-align: center;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;

    }
    
    .btn-ong2:hover{
        text-decoration: none;
        background-color: white;
        color: #3fa9f5;
         border: 1px solid #3fa9f5;
    }


      /* titre */

.h1-fond{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    text-align: center; 
    border: 3px solid #0f2436;
    background-color: #3fa9f5;
    color: #f3f3f3;
    border-radius: 15px;
    width: 540px;
    padding: 10px;
  }


  /* onglet acc */
  
  .titre-onglet{
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
    font-family: mono45-headline,monospace;
    font-weight: 700;
    font-style: normal; 
  }


  .txt-onglet{
    text-align: center;
    padding: 10px;
    font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

   /* Resultat acc -------------------------------- */

#visual-mobile{
    display: none;
}

.col1-acc{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
   
}
  
.col2-acc{
    display: flex;
    justify-content: center;
    
}

.carre1{
    margin-right: 3%;
    background-color: #0f2436;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #f3f3f3;
    padding: 10px;
}

.carre2{
    margin-right: 3%;
    background-color: #0f2436;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #f3f3f3;
    padding: 10px;
}


.carre3{
    margin-right: 3%;
    background-color: #0f2436;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #f3f3f3;
    padding: 10px;
}


.carre4{
    background-color: #0f2436;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #f3f3f3;
    padding: 10px;
}


.p-res{
    margin-top: 30%;
    font-size: 35px;
}

.p-res-modif{
    margin-top: 10%;
    font-size: 35px;
}

.h2-res{
    text-align: center;
    padding: 10px;
    font-family: erbaum, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: black;
}

.btn-ong-res{
    display: block;
    margin: auto;
    margin-top: 1%;
        width: 250px;
        background-color: #3fa9f5;
       color: white;
        border: 1px solid #0f2436;
        padding: 10px;
        text-align: center;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;

    }
    
    .btn-ong-res:hover{
        text-decoration: none;
        background-color: white;
        color: #0f2436;
         border: 1px solid #0f2436;
    }


   /* Responsive mobile -------------------------------- */


  @media only screen and (max-width: 600px) {
    .back-hero{
      width: 60%;
       }


       .ongletacc{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 900px;
    
    }
    
    .onglet1{
       width: 100%;
        height: 300px;
        background-color: #3fa9f5;
        color: white; 
    }
    
    .onglet2{
       width: 100%;
        height: 300px;
        background-color: #0f2436;
        color: white; 
        
    }
    
    .onglet3{
        width: 100%;
        height: 300px;
        background-color: #3fa9f5;
        color: white; 
    }
    
    .titre-onglet{
        font-size: 30px;
        padding-top: 10px;
        text-align: center;
        font-family: mono45-headline,monospace;
        font-weight: 700;
        font-style: normal;    
    }

        
    .titre-onglet-special{
        font-size: 25px;
        padding-top: 10px;
        text-align: center;
        font-family: mono45-headline,monospace;
        font-weight: 700;
        font-style: normal;    
    }
    
    
    .txt-onglet{
        text-align: center;
        padding: 10px;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    
    .btn-ong{
        display: block;
        margin: auto;
            width: 250px;
            background-color: #0f2436;
           color: white;
            padding: 10px;
            text-align: center;
            font-family: erbaum, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        margin-top: 3%;
        margin-bottom: 3%;
    
        }
        
       
    
    
    
    .btn-ong2{
        display: block;
        margin: auto;
            width: 250px;
            background-color: #3fa9f5;
           color: white;
            padding: 10px;
            text-align: center;
            font-family: erbaum, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
       margin-top: 2%;
    
        }
        
       


        .h1-fond{
          margin: auto;
          margin-top: 4%;
          margin-bottom: 5%;
          font-family: erbaum, sans-serif;
          font-weight: bold;
          font-style: normal;
          font-size: 25px;
          text-align: center; 
          border: 3px solid #0f2436;
          background-color: #3fa9f5;
          color: #f3f3f3;
          border-radius: 15px;
          width: 340px;
          padding: 10px;
        }


        .col1-acc{
            display: flex;
            flex-direction:column ;
            margin-bottom: 2%;
            
           
        }
        
        .carre1{
            margin: auto; 
            margin-top: 3%;   
            background-color: #0f2436;
            color: white;
            width: 150px;
            height: 100px;
            border-radius: 10px;
            text-align: center;
            font-family: erbaum, sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 15px;
            color: #f3f3f3;
            padding: 10px;
        }
        
        .carre2{
            margin: auto;
            margin-top: 8%;
            background-color: #0f2436;
            color: white;
            width: 150px;
            height: 100px;
            border-radius: 10px;
            text-align: center;
            font-family: erbaum, sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 15px;
            color: #f3f3f3;
            padding: 8px;
        }
        
        
        .carre3{
            margin: auto;
            margin-top: 8%;
            background-color: #0f2436;
            color: white;
            width: 150px;
            height: 100px;
            border-radius: 10px;
            text-align: center;
            font-family: erbaum, sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 15px;
            color: #f3f3f3;
            padding: 10px;
        }
        
        
        .carre4{
            margin: auto;
            margin-top: 8%;
            background-color: #0f2436;
            width: 140px;
            height: 100px;
            border-radius: 10px;
            padding: 10px;
        }
        
        
        .p-res{
            margin-top: 10%;
            font-size: 20px;
            text-align: center;
            font-family: erbaum, sans-serif;
            font-weight: bold;
            font-style: normal;
            color: white;
        }
        .h1-res{
           display: flex;
           justify-content: center;
            font-size: 15px;
            text-align: center;
            font-family: erbaum, sans-serif;
            font-weight: bold;
            font-style: normal;
            color: white;
        }


        .p-res-modif{
            margin-top: 10%;
            font-size: 20px;
            text-align: center;
            font-family: erbaum, sans-serif;
            font-weight: bold;
            font-style: normal;
            color: white;
        }
        
        .h2-res{
            text-align: center;
            padding: 10px;
            font-family: erbaum, sans-serif;
            font-weight: bold;
            font-size: 15px;
            font-style: normal;
            color: black;
        }
        
        .btn-ong-res{
            display: block;
            margin: auto;
                width: 250px;
                background-color: #3fa9f5;
               color: white;
                padding: 10px;
                text-align: center;
                font-family: erbaum, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 15px;
           margin-top: 2%;
           margin-bottom: 3%;
        
            }
            
           
        
       }




       