*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: #EC6EAD; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ec6eadc3; 
  }
  
  /*BODY COLOR*/
  body{
    background: #EEEE;   
    color: black;
  }


/*Hero*/
  .h1-hero{
      margin: auto;
      margin-top: 2%;
      margin-bottom: 1%;
      font-family: erbaum, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: 35px;
      text-align: center; 
      border: 5px solid #0f2436;
      background-color: #3fa9f5;
      color: #f3f3f3;
      border-radius: 15px;
      width: 540px;
      padding: 10px;
  }

  

  .h2-hero-ps{
margin: auto;
margin-top: 1%;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    width: 600px;
    color: black;
  }


  /*BTN RS*/

  .btn-discord{
    background-color: #5c6bbf;
    border-radius: 30px;
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: space-around;
  }

  
  .btn-twitter{
    background-color: #00a8f4;
    border-radius: 30px;
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: space-around;
  }
  
  .h2-ps{
    margin: auto;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: erbaum, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  }


.admin-btn{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
   margin-bottom: 5%;
   margin-top: 5%;
  }


  
  
  /*Responsive mobile*/

    
  @media only screen and (max-width: 600px){


 }



  
  


  