*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: #0f2436; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3fa9f5; 
  }
  
  /*BODY COLOR*/
  body{
    background: #EEEE;   
    color: black;
  }


/*Hero*/
  .h1-hero{
      margin: auto;
      margin-top: 2%;
      margin-bottom: 1%;
      font-family: erbaum, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: 35px;
      text-align: center; 
      border: 5px solid #0f2436;
      background-color: #3fa9f5;
      color: #f3f3f3;
      border-radius: 15px;
      width: 540px;
      padding: 10px;
  }

  

  .h2-hero-ps{
margin: auto;
margin-top: 1%;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    width: 600px;
    color: black;
  }


  /*BTN RS*/

  .btn-discord{
    background-color: #5c6bbf;
    border-radius: 30px;
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: space-around;
  }

  
  .btn-twitter{
    background-color: #00a8f4;
    border-radius: 30px;
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: space-around;
  }
  
  .h2-ps{
    margin: auto;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: erbaum, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  }


.admin-btn{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
   margin-bottom: 5%;
   margin-top: 5%;
  }


 


  .admin-algo{
    margin: auto;
    margin-top: 4%;
    width: 900px;
    height: 450px;
    padding: 10px;
    background-color: #0f2436;
    border-radius: 20px;
  }

  .top-algo{
    margin: auto;
    width: 700px;
    height: 100px;
    background-color: #3fa9f5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

  .res-general{
    margin: auto;
    margin-top: 4%;
    width: 700px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
  }

  .res-general2{
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
  }
  .res-general3{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
   }
 


  .res-on{
    width: 120px;
    height: 45px;
    background-color: #3fa9f5;
    border-radius: 20px;
  }

 



  .name-match{
    margin: auto;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    text-align: center; 
    color: white;
    padding: 10px;
  }


  .predi-txt{
    margin: auto;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    text-align: center; 
    color: white;
    padding: 10px;
  }

  .titre-predi{
   
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center; 
    color: black;
    padding: 10px;
  }


  .img-ny{
    display: flex;
    margin: auto;
    width:15%;
  }
  .img-res-{
    display: flex;
    margin: auto;
    width: 10%;
      }


  /*Responsive mobile*/

    
  @media only screen and (max-width: 600px){
    .h1-hero{
      margin: auto;
      margin-top: 4%;
      margin-bottom: 2%;
      font-family: erbaum, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: 25px;
      text-align: center; 
      border: 5px solid #0f2436;
      background-color: #3fa9f5;
      color: #f3f3f3;
      border-radius: 15px;
      width: 240px;
      padding: 10px;
  }

  

  .h2-hero-ps{
margin: auto;
margin-top: 2%;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    width: 300px;
    color: black;
  }


  /*BTN RS*/

  .btn-discord{
    margin: auto;
    background-color: #5c6bbf;
    border-radius: 30px;
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: space-around;
  }

  
  .btn-twitter{
    margin: auto;
    margin-top: 2%;
    background-color: #00a8f4;
    border-radius: 30px;
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: space-around;
  }
  
  .h2-ps{
    margin: auto;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: erbaum, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  }


.admin-btn{
  margin: auto;
    display: flex;
    flex-direction: column;
   margin-bottom: 10%;
   margin-top: 10%;
  }

  .img-res-{
display: flex;
margin: auto;
width: 40%;
  }

  .admin-algo{
    margin: auto;
    margin-top: 4%;
    width: 350px;
    height: 390px;
    padding: 10px;
    background-color: #0f2436;
    border-radius: 20px;
  }

  .top-algo{
    margin: auto;
    width: 300px;
    height: 100px;
    background-color: #3fa9f5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

  .res-general{
    margin: auto;
    margin-top: 4%;
    width: 300px;
    height: 215px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
  }

  .res-general2{
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
  }
  .res-general3{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
   }
 


  .res-on{
    width: 70px;
    height: 45px;
    background-color: #3fa9f5;
    border-radius: 20px;
  }

 



  .name-match{
    margin: auto;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center; 
    color: white;
    padding: 10px;
  }


  .predi-txt{
    margin: auto;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    text-align: center; 
    color: white;
    padding: 10px;
  }

  .titre-predi{
   
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    text-align: center; 
    color: black;
    padding: 10px;
  }


  .img-ny{
    display: flex;
    margin: auto;
    width:15%;
  }


 }



  
  


  