
body{
    box-sizing: border-box;
    margin: 0;
    color: white;
}

.bg-custom{
    background-color: #343A40;
}



.nav-link-custom{
    color: white;
    padding-right: 0;
    padding-left: 0;
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link-custom:hover{
    text-decoration: none;
    color: white;
    padding-right: 0;
    padding-left: 0;
    display: block;
    padding: 0.5rem 1rem;
}

.navbar-dark .navbar-nav .active-custom>.nav-link, .navbar-dark .navbar-nav .nav-link.active-custom, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #1AFFD5;
}

.navbar-dark .navbar-nav .active-custom:hover>.nav-link, .navbar-dark .navbar-nav .nav-link.active-custom:hover, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #1AFFD5;
}




#acc{
    background-color: #343A40;
    color: white;
}
.h1-base{
    font-size: 100px;
    color: white;
    padding-top: 50px;
    text-align: center;
    font-family: mono45-headline,monospace;
    font-weight: 700;
    font-style: normal;    
}

.span-h1{
    font-size: 100px;
    color: #1AFFD5;
}

.txt-acch2{
    display: block;
    margin: auto;
    text-align: center;
    font-family: erbaum, sans-serif;
font-weight: 400;
font-style: normal;

}

.txt-btnh1top{
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-family: erbaum, sans-serif;
font-weight: 400;
font-style: normal;
color: #343A40;
}

.txt-btntop{
    display: block;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    text-align: center;
    font-family: erbaum, sans-serif;
font-weight: 400;
font-style: normal;

}

.span-topbtn{
    margin-top: 5%;
    padding: 10px;
    text-align: center;
    font-family: erbaum, sans-serif;
font-weight: 400;
font-style: normal;
color: #1AFFD5;

}

.btntopacc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}

.iconetopacc{
    width: 50%;
    display: block;
    margin: auto;
}

.btntop1{
    width: 200px;
    height: 320px;
    border: 3px solid #1AFFD5;
}

.backtopacc{
    margin-top: 10%;
    background-color: #1AFFD5;
}

.btn-pub{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.btn-pub1{
    width: 300px;
    background-color: #1AFFD5;
    color: #343A40;
    padding: 20px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: erbaum, sans-serif;
font-weight: 400;
font-style: normal;

}

.btn-pub2{
    width: 300px;
   color: #1AFFD5;
    border: 1px solid #1AFFD5;
    padding: 20px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: erbaum, sans-serif;
font-weight: 400;
font-style: normal;
margin-left: 1%;
}

.btn-pub2:hover{
    text-decoration: none;
    color: #343A40;
    background-color: #1AFFD5;
}

.btn-pub1:hover{
    text-decoration: none;
    color: #1AFFD5;
    background-color: #343A40;
    border: 1px solid #1AFFD5;
}

.ongletacc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    width: 100%;
    height: 310px;

}

.onglet1{
    float: left;
    width: 500px;
    height: 310px;
    background-color: #1AFFD5;
    color: #343A40; 
}

.onglet2{
    display: block;
    margin: auto;
    width: 500px;
    height: 310px;
    background-color: #343A40;
    color: #1AFFD5; 
    border: 1px solid #1AFFD5;
}

.onglet3{
    float: left;
    width: 500px;
    height: 310px;
    background-color: #1AFFD5;
    color: #343A40; 
}

.txt-h1ong{
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
    font-family: mono45-headline,monospace;
    font-weight: 700;
    font-style: normal;    
}

.txt-ong{
    text-align: center;
    padding: 10px;
    font-family: erbaum, sans-serif;
font-weight: 400;
font-style: normal;
}


.btn-ong{
    display: block;
    margin: auto;
        width: 250px;
        background-color: #343A40;
       color: #1AFFD5;
        border: 1px solid #1AFFD5;
        padding: 10px;
        text-align: center;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    }
    
    .btn-ong:hover{
        text-decoration: none;
        background-color: #1AFFD5;
        color: #343A40;
         border: 1px solid #343A40;
    }



.btn-ong2{
    display: block;
    margin: auto;
        width: 250px;
        background-color: #1AFFD5;
       color: #343A40;
        border: 1px solid #343A40;
        padding: 10px;
        text-align: center;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    }
    
    .btn-ong2:hover{
        text-decoration: none;
        background-color: #343A40;
        color: #1AFFD5;
         border: 1px solid #1AFFD5;
    }

    
    .footer-custom{
        margin-top: 5%;
    }

    .text-custom{
        color: #1AFFD5;
    }

    .text-custom:hover{
        text-decoration: none;
        color: #1AFFD5;
    }

    .txt-customboot{
     font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    }



@media screen and (max-width: 1024px)
{
    
    .h1-base{
        font-size: 80px;
        color: white;
        padding-top: 50px;
        text-align: center;
        font-family: mono45-headline,monospace;
        font-weight: 700;
        font-style: normal;    
    }
    
    .span-h1{
        font-size: 80px;
        color: #1AFFD5;
    }
    
    .txt-acch2{
  display: block;
  margin: auto;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;

    }
    
    .txt-btnh1top{
        display: block;
        margin: auto;
        text-align: center;
        padding: 10px;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #343A40;
    }
    
    .txt-btntop{
        display: block;
        margin: auto;
        margin-top: 5%;
        padding: 10px;
        text-align: center;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    
    }
    
    .span-topbtn{
        margin-top: 5%;
        padding: 10px;
        text-align: center;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1AFFD5;
    
    }
    
    .btntopacc{
        display: flex;
    flex-direction: column;
        margin-top: 5%;
    }
    
    .iconetopacc{
        width: 50%;
        display: block;
        margin: auto;
    }
    
    .btntop1{
        width: 200px;
        height: 320px;
        border: 3px solid #1AFFD5;
        margin-top: 5%;
    }
    
    .backtopacc{
        margin-top: 10%;
        background-color: #1AFFD5;
    }
    
    .btn-pub{
       
        display: flex;
    flex-direction: column;
        margin-top: 5%;
    }
    
    .btn-pub1{
        display: block;
        margin: auto;
        width: 300px;
        background-color: #1AFFD5;
        color: #343A40;
        padding: 20px;
        text-align: center;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5%;
    
    }
    
    .btn-pub2{
        display: block;
        margin: auto;
        width: 300px;
       color: #1AFFD5;
        border: 1px solid #1AFFD5;
        padding: 20px;
        text-align: center;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5%;

    }
    
    .btn-pub2:hover{
        text-decoration: none;
        color: #343A40;
        background-color: #1AFFD5;
    }
    
    .btn-pub1:hover{
        text-decoration: none;
        color: #1AFFD5;
        background-color: #343A40;
        border: 1px solid #1AFFD5;
    }
    
    .ongletacc{
        display: flex;
        flex-direction: column;
        margin-top: 100%;
        width: 100%;
        height: 310px;
    
    }
    
    .onglet1{
       width: 100%;
        height: 450px;
        background-color: #1AFFD5;
        color: #343A40; 
    }
    
    .onglet2{
    
       width: 100%;
        height: 450px;
        background-color: #343A40;
        color: #1AFFD5; 
        border: 1px solid #1AFFD5;
    }
    
    .onglet3{
        width: 100%;
        height: 450px;
        background-color: #1AFFD5;
        color: #343A40; 
    }
    
    .txt-h1ong{
        font-size: 30px;
        padding-top: 10px;
        text-align: center;
        font-family: mono45-headline,monospace;
        font-weight: 700;
        font-style: normal;    
    }
    
    .txt-ong{
        text-align: center;
        padding: 10px;
        font-family: erbaum, sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    
    .btn-ong{
        display: block;
        margin: auto;
            width: 250px;
            background-color: #343A40;
           color: #1AFFD5;
            border: 1px solid #1AFFD5;
            padding: 10px;
            text-align: center;
            font-family: erbaum, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        margin-bottom: 5%;
    
        }
        
        .btn-ong:hover{
            text-decoration: none;
            background-color: #1AFFD5;
            color: #343A40;
             border: 1px solid #343A40;
        }
    
    
    
    .btn-ong2{
        display: block;
        margin: auto;
            width: 250px;
            background-color: #1AFFD5;
           color: #343A40;
            border: 1px solid #343A40;
            padding: 10px;
            text-align: center;
            font-family: erbaum, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        margin-bottom: 5%;
    
        }
        
        .btn-ong2:hover{
            text-decoration: none;
            background-color: #343A40;
            color: #1AFFD5;
             border: 1px solid #1AFFD5;
        }
    
        
        .footer-custom{
            margin-top: 90%;
        }
    
        .text-custom{
            color: #1AFFD5;
        }
    
        .text-custom:hover{
            text-decoration: none;
            color: #1AFFD5;
        }
    
        .txt-customboot{
         font-family: erbaum, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        }
    

}


.maintenance{
    background-color: #343A40;
    color: #1AFFD5;
    padding-top: 7%;
 
}


.loader {
    display: block;
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #1AFFD5; /* Blue */
    border-radius: 50%;
    width: 220px;
    height: 220px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .h1-maint{
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
    font-family: mono45-headline,monospace;
    font-weight: 700;
    font-style: normal;   
  }

  .img-maint{
    display: block;
    margin: auto;
    width: 30%;
  }

  @media screen and (max-width: 1024px)
{


.maintenance{
    background-color: #343A40;
    color: #1AFFD5;
    padding-top: 20%;
}

    .h1-maint{
        font-size: 30px;
        padding-top: 50px;
        text-align: center;
        font-family: mono45-headline,monospace;
        font-weight: 700;
        font-style: normal;   
      }
    
      .img-maint{
        display: block;
        margin: auto;
        width: 80%;
      }

      .loader {
        display: block;
        margin: auto;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #1AFFD5; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      }

}



.backpronos{
    background-color: #343A40;
    padding-top: 3%;
}
.pronos{
    display: block;
    margin: auto;
    width: 600px;
}

.h1-pronos{
    font-size: 100px;
    margin-bottom: 4%;
    text-align: center;
    font-family: mono45-headline,monospace;
    font-weight: 700;
    font-style: normal;  
    color: #1AFFD5;
}

@media screen and (max-width: 1024px)
{
    .backpronos{
        background-color: #343A40;
        padding-top: 3%;
    }
    .pronos{
        display: block;
        margin: auto;
        width: 300px;
    }
    
    .h1-pronos{
        font-size: 50px;
        margin-bottom: 4%;
        text-align: center;
        font-family: mono45-headline,monospace;
        font-weight: 700;
        font-style: normal;  
        color: #1AFFD5;
    }
}