  /* TODO Général*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


   /* TODO Scrollbar*/

  ::-webkit-scrollbar {
    width: 12px;
    
  }
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #0f2436; 
  }


    /* TODO Body*/

  body{
    background:linear-gradient(45deg, rgba(1,9,13,1) 0%, rgba(1,32,62,1) 75%);
    background-attachment: fixed;
    color: #fff;
  
  }


  /* TODO ACCUEIL*/

.back-hero{
    margin-top: -10%;
      min-width: 100%;
      min-height: 100%;
     }
  

    
/* TODO Algorithme */
     

.titre-algo-principal{
  margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    border: 5px solid white;
    background-color: #3fa9f5;
    color: #f3f3f3;
    border-radius: 15px;
    width: 540px;
    padding: 10px;
}
      

      
      







  
  
         