
/* Général --------------------------------*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Scrollbar -------------------------------- */


  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: #3fa9f5; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0f2436; 
  }


  /* BODY COLOR -------------------------------- */
  body{
      background: #eeeeee;   
color: #fff;
  
  }

  /* Hero  --------------------------------*/

.back-hero{
    margin-top: -10%;
      min-width: 100%;
      min-height: 100%;
     }
  
  




  
  
         