*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: #EC6EAD; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ec6eadc3; 
  }
  
  /*BODY COLOR*/
  body{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }



  .admin-algo{
    margin: auto;
    margin-top: 4%;
    width: 900px;
    height: 900px;
    padding: 10px;
    background-color: aqua;
    border-radius: 20px;
  }

  .top-algo{
    margin: auto;
    width: 700px;
    height: 100px;
    background-color: red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

  .res-general{
    margin: auto;
    margin-top: 3%;
    width: 700px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
  }

  .res-general2{
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
  }


  .res-on{
    width: 100px;
    height: 45px;
    background-color: red;
    border-radius: 20px;
  }

  .res-on-modif{
    width: 200px;
    height: 45px;
    background-color: red;
    border-radius: 20px;
  }

  .res-on-modif2{
    width: 180px;
    height: 45px;
    background-color: red;
    border-radius: 20px;
  }

  .res-1mt{
    margin: auto;
    margin-top: 3%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
   
  }

  .res-2mt{
    margin: auto;
    margin-top: 3%;
    width: 700px;
    height: 100px;
    background-color: red;
    border-radius: 20px;
    
  }

  .res-3mt{
    margin: auto;
    margin-top: 3%;
    width: 700px;
    height: 100px;
    background-color: red;
    border-radius: 20px;
    
  }



  .name-match{
    margin: auto;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    text-align: center; 
    color: white;
    padding: 10px;
  }


  .predi-txt{
    margin: auto;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    text-align: center; 
    color: black;
    padding: 10px;
  }

  .titre-predi{
    margin: auto;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center; 
    color: black;
    padding: 10px;
  }

  .titre-general{
    margin: auto;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center; 
    color: white;
    padding: 10px;
    background-color: #3494E6;
    width: 250px;
  }


.col-1mt1{
    width: 250px;
    height: 470px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.col-1mt2{
    width: 250px;
    height: 470px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.col-1mt3{
    width: 250px;
    height: 470px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.predi-mt{
    margin: auto;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center; 
    color: white;
    padding: 10px;
    background-color: #3494E6;
    width: 150px;
    border-radius: 10px;
  }
  .txt-hero-algo{
    margin: auto;
    margin-top: 4%;
    font-family: erbaum, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center; 
    color: white;
    width: 150px;
  }